*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url('/1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 150px;
    position: relative;
    background-color: rgb(240, 238, 238);
    margin-bottom: 15px;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 150px;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10, 10, 10, 0.3);
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
    align-items: center;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    padding-left: 10px;
}

nav ul span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 2px;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
}

.container,
.products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image {
    width: 30%;
    margin: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 10px;
}



.image img {
    width: 170px;
    height: auto;
    border-radius: 30px;
}

.image h3 {
    font-size: 1.2em;
}

.image h3:nth-child(3) {
    color: royalblue; 
    margin-bottom: 10px;
}



.image a {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

.image a:hover {
    background-color: #2980b9;
    bottom: ;
    opacity: 1;    
    text-decoration: none;
    border-radius: 5px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        display: block;
    }

    .image {
        width: 100%;
        margin: 0 0 20px 0;
        border: none;
    }
}


/*------------------CART PAGE-----------------------*/

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}